mixin form(props)
	- props = typeof props != 'undefined' ? props : {}

	- var data = props.data || {}
	- var title = data.title || ''
	- var description = data.description || ''

	form.form
		if title
			h2.form__title= title
		if description
			p.form__description= description
		block
