.form
	display block

.form__title
	font-weight 500
	font-size 15px
	line-height 20px
	color var(--color_text_primary)
	margin 0
	margin-bottom var(--space_xs)

.form__description
	margin 0
	font-size 13px
	line-height 16px
	color var(--color_text_secondary)
	margin-bottom 20px

	@media (min-width 1024px)
		margin-bottom 26px

.form__field
	&:not(:last-child)
		margin-bottom 22px

.form__field_type_time
	@media (min-width 1024px)
		margin-top var(--space_xl)

.form__actions
	display flex
	flex-direction column
	margin-top var(--space_xl)

	@media (min-width 1024px)
		flex-direction row
		margin-top var(--space_xxl)

.form__action
	&:not(:last-child)
		margin-bottom var(--space_m)

		@media (min-width 1024px)
			margin-right var(--space_xs)

