.pages-list
	display block
	margin 0
	padding 0
	list-style-type none

.pages-list__item-content
	font-size 13px
	line-height 16px
	color var(--color_text_primary)

	&:hover, &:focus
		color var(--color_warning)
