mixin pages-list()
	ul.pages-list
		li.pages-list__item
			a.pages-list__item-content(href='/start-screen.html') Start screen
		li.pages-list__item
			a.pages-list__item-content(href='/settings.html') Settings
		li.pages-list__item
			a.pages-list__item-content(href='/build-history.html') Build History
