include ../form/form
include ../form/form__field
include ../form/form__actions
include ../form/form__action
include ../text-input/text-input
include ../field-label/field-label

mixin settings-form()
	.settings-form
		+form({
			data: {
				title: "Settings",
				description: "Configure repository connection and synchronization settings."
			}
		})
			+form__field
				+text-input({
					attrs: {
						placeholder: 'user-name/repo-name',
						required: true
					},
					data: {
						label: 'GitHub repository '
					}
				})
			+form__field
				+text-input({
					attrs: {
						placeholder: 'npm ci && npm run build'
					},
					data: {
						label: 'Build command'
					}
				})
			+form__field
				+text-input({
					attrs: {
						placeholder: 'master'
					},
					data: {
						label: 'Main branch'
					}
				})
			+form__field({
				mods: {
					type: 'time'
				}
			})
				+text-input({
					attrs: {
						placeholder: '10'
					},
					mods: {
						type: 'time'
					},
					data: {
						label: 'Synchronize every',
						note: 'minutes'
					}
				})
			+form__actions
				+form__action
					+button({
						mods: {
							theme: 'primary',
							type: 'wide'
						},
						data: {
							text: 'Save'
						}
					})
				+form__action
					+button({
						mods: {
							theme: 'secondary',
							type: 'wide'
						},
						data: {
							text: 'Cancel'
						}
					})
