include ../page/page
include ../header/header
include ../footer/footer
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		.page__header
			block header
			+header({
				data: {
					actions: headerActions,
					logoText: headerTitle,
					logoURL: headerURL
				}
			})

		.page__body
			block content

		.page__footer
			+footer

		+scripts(['app.min.js'])
