mixin text-input(props)
	- props = typeof props != 'undefined' ? props : {}

	- var mods = props.mods || {}
	- var data = props.data || {}
	- var tag = props.tag || 'div'
	- var attrs = props.attrs || {}

	- var label = data.label || ''
	- var note = data.note || ''
	- var required = attrs.required || false

	.text-input(class= (mods.type && 'text-input_type_#{mods.type}') || 'text-input')
		+field-label({mods: {required: required}})= label

		input.text-input__content&attributes(attrs)

		if note
			span.text-input__note= note
