.text-input
	display block
	width 100%

.text-input__content
	display block
	width 100%
	margin-top var(--space_xxs)
	background #FFFFFF
	border 2px solid #D9D9D9
	box-sizing border-box
	border-radius 4px
	padding-top var(--space_xs)
	padding-bottom var(--space_xs)
	padding-left var(--space_m)
	padding-right var(--space_m)

	&:focus
		outline none
		border-color var(--color_border_primary)

	&::placeholder
		color var(--color_border_primary)

.text-input_type_time
	display flex
	align-items center

	.text-input__content
		-webkit-appearance none
		width 52px
		margin-top 0
		margin-left var(--space_xs)
		text-align right

.text-input__note
	margin-left var(--space_xs)
