mixin text-input(props)
	- props = typeof props != 'undefined' ? props : {}

	- var mods = props.mods || {}
	- var data = props.data || {}
	- var tag = props.tag || 'div'
	- var attrs = props.attrs || {}

	- var label = data.label || ''
	- var note = data.note || ''
	- var required = attrs.required || false
	- var id = data.id || ''
	- var clearButton  = data.clearButton || false

	.text-input(class= (mods.type && 'text-input_type_#{mods.type}') || 'text-input')
		+field-label({mods: {required: required}, attrs:{for: id}})= label

		.text-input__content
			input.text-input__input&attributes(attrs)(id=id)

			if clearButton
				button.text-input__clear-button(type='button') Очистить поле

			if note
				span.text-input__note= note
