.button
	display block
	border none
	background-color transparent

	&:focus
		outline none

.button_theme_secondary
	background #E6E6E6
	border-radius 4px
	font-size 13px
	line-height 13px
	color black
	padding 20px
	padding-top 12px
	padding-bottom 12px

.button_theme_primary
	background #FFCC00
	border-radius 4px
	font-size 13px
	line-height 13px
	color black
	padding 20px
	padding-top 12px
	padding-bottom 12px

.button_type_link
	text-decoration none

.button_type_wide
	width 100%

.button_theme_navigation
	display flex
	align-items center
	background #E6E6E6
	border-radius 4px
	font-size 13px
	line-height 100%
	color black
	padding 8px

	@media (min-width 1024px)
		padding-right 13px

	.button__icon
		width 12px
		height 12px

		@media (min-width 1024px)
			margin-right 6px

	.button__text
		display none

		@media (min-width 1024px)
			display block

