.commit-card
	padding var(--space_l) var(--space_m)
	position relative

	@media (min-width 1024px)
		padding var(--space_m) var(--space_l)

	&::before
		position absolute
		top var(--space_l)
		left var(--space_m)
		content ''
		display inline-block
		width var(--space_l)
		height var(--space_l)
		background-size contain
		background-repeat no-repeat
		margin-right 4px

		@media (min-width 1024px)
			width var(--space_xxl)
			height var(--space_xxl)
			top 13px
			left var(--space_xxl)

.commit-card__content
	margin-left var(--space_xxl)

	@media (min-width 1024px)
		display flex
		flex-wrap wrap
		margin-left 40px

.commit-card__header
	margin-bottom 5px

	@media (min-width 1024px)
		display flex
		align-items flex-start
		margin 0
		height

.commit-card__id
	display block
	font-weight 500
	font-size 16px
	line-height 16px
	margin-bottom var(--space_xs)

	@media (min-width 1024px)
		font-size 18px
		line-height 20px
		margin-bottom 0
		margin-right 4px

.commit-card__title
	margin 0
	font-weight 400
	font-size 15px
	line-height 20px
	color var(--color_text_primary)
	text-decoration none

.commit-card__link
	display block
	font-size 15px
	line-height 20px
	color var(--color_text_primary)
	text-decoration none

	&::after
		content ''
		position absolute
		border-radius var(--space_xxs)
		box-shadow 0 1px 1px rgba(67, 68, 69, .3), 0 0 1px rgba(67, 68, 69, .3)
		top 0
		right 0
		left 0
		bottom 0

	&:hover, &:focus
		&::after
			box-shadow 0 2px var(--space_xs) rgba(67, 68, 69, .3), 0 0 1px rgba(67, 68, 69, .3)

.commit-card__details
	margin 0
	padding-bottom var(--space_xs)
	border-bottom 1px solid var(--color_border_secondary)
	margin-bottom var(--space_xs)

	@media (min-width 1024px)
		position absolute
		z-index -1
		bottom 4px
		padding-bottom 0
		border-bottom 0
		order 1
		width 100%

.commit-card__author
	display flex
	align-items center
	margin-top var(--space_xs)
	font-size 13px
	line-height 16px
	color var(--color_text_primary)

	@media (min-width 1024px)
		display inline-block

	&::before
		content ''
		display inline-block
		vertical-align top
		width 14px
		height var(--space_l)
		background-image url('/assets/images/commit-author.svg')
		background-size contain
		background-repeat no-repeat
		margin-right var(--space_xxs)

.commit-card__branch
	font-size 13px
	line-height 16px
	color var(--color_text_primary)
	margin-right 4px

	&::before
		content ''
		display inline-block
		width var(--space_l)
		height var(--space_xs)
		background-image url('/assets/images/commit-branch.svg')
		background-size contain
		background-repeat no-repeat
		margin-right 4px

.commit-card__hash
	font-size 13px
	line-height 16px
	color var(--color_text_secondary)

	@media (min-width 1024px)
		margin-right var(--space_s)

.commit-card__hidden-note
	visuallyHidden()

.commit-card__meta
	margin 0
	font-size 13px
	line-height 16px
	color var(--color_text_secondary)

	@media (min-width 1024px)
		margin-left auto
		display flex
		flex-direction column

.commit-card__datetime
	display inline-flex
	align-items center
	margin-right var(--space_s)

	@media (min-width 1024px)
		margin-bottom var(--space_m)

	&::before
		content ''
		display inline-block
		width 14px
		height var(--space_l)
		background-image url('/assets/images/build-datetime.svg')
		background-size contain
		background-repeat no-repeat
		margin-right var(--space_xxs)

.commit-card__duration
	display inline-flex
	align-items center

	&::before
		content ''
		display inline-block
		width 13px
		height var(--space_l)
		background-image url('/assets/images/build-duration.svg')
		background-size contain
		background-repeat no-repeat
		margin-right var(--space_xxs)

.commit-card_type_success
	&::before
		background-image url('/assets/images/commit-card--success.svg')

	.commit-card__id
		color var(--color_success)

.commit-card_type_error
	&::before
		background-image url('/assets/images/commit-card--error.svg')

	.commit-card__id
		color var(--color_warning)

.commit-card_type_pending
	&::before
		background-image url('/assets/images/commit-card--pending.svg')

	.commit-card__id
		color var(--color_button_bg_primary)

.commit-card_view_detail
	box-shadow 0 1px 1px rgba(67, 68, 69, .3), 0 0 1px rgba(67, 68, 69, .3)
	border-radius var(--space_xxs)

	.commit-card__content
		display block

	.commit-card__details
		position static
		padding-bottom var(--space_xs)
		border-bottom 1px solid var(--color_border_secondary)

	.commit-card__meta
		display block

	.commit-card__datetime
		margin-bottom 0

