@font-face {
	font-family "YS Text"
	font-weight 400
	src url("/assets/fonts/text-regular.woff2") format("woff2"),
		url("/assets/fonts/text-regular.woff") format("woff")
}

@font-face {
	font-family "YS Text"
	font-weight 500
	src url("/assets/fonts/text-medium.woff2") format("woff2"),
		url("/assets/fonts/text-medium.woff") format("woff")
}

@font-face {
	font-family "YS Text"
	font-weight 700
	src url("/assets/fonts/text-bold.woff2") format("woff2"),
		url("/assets/fonts/text-bold.woff") format("woff")
}
