extends /blocks/layout-default/layout-default
include ../blocks/commit-list/commit-list
include ../blocks/build-details-layout/build-details-layout
include ../blocks/build-details-layout/build-details-layout__commit
include ../blocks/build-details-layout/build-details-layout__log
include ../blocks/commit-card/commit-card
include ../blocks/log/log

block head
	- var pageTitle = 'Build details';

block header
	- var headerActions = getData('build-details-page-header-actions');
	- var headerTitle = 'philip1967/my-awesome-repo';

block content
	- var commit = { "id": 1368, "title": "add documentation for postgres scaler", "branch": "master", "hash": "9c9f0b9", "author": "Philip Kirkorov", "status": "success", "url": "/"};

	+build-details-layout
		+page-trim
			+build-details-layout__commit
				+commit-card({
					data: {
						id: commit.id,
						title: commit.title,
						branch: commit.branch,
						hash: commit.hash,
						author: commit.author,
					},
					mods: {
						type: commit.status,
						view: 'detail'
					}
				})
		+build-details-layout__log
			+log
