extends /blocks/layout-default/layout-default
include ../blocks/settings-form/settings-form
include ../blocks/settings-page-layout/settings-page-layout
include ../blocks/settings-page-layout/settings-page-layout__form

block head
	- var pageTitle = 'Settings';

block content
	+page-trim
		+settings-page-layout
			+settings-page-layout__form
				+settings-form
