extends /blocks/layout-default/layout-default
include ../blocks/start-screen-layout/start-screen-layout
include ../blocks/welcome-action/welcome-action

block page
	- var pageMods = {view: 'start'}

block head
	- var pageTitle = 'Start screen';

block header
	- var headerActions = getData('start-screen-page-header-actions');
	- var headerURL = '/index.html'

block content
	+start-screen-layout
		+welcome-action
