html
	height 100%

.page
	font-family 'YS Text', 'Helvetica Neue', Arial, sans-serif;
	margin 0
	padding 0
	display flex
	flex-direction column
	height 100%

.page__body
	flex-shrink 0
	flex-grow 1

.page__footer
	flex-shrink 0

.page_view_start
	.page__body
		display flex
		flex-direction column
		align-items center
		justify-content center


// --color_default #07f
// --color_border #fff
// --text_color_primary #fff
// --text_color_secondary rgba(255, 255, 255, .6)
// --text_color_additional rgba(255, 255, 255, .3)
// --text_color_link #fff
// --color_default #fff
// --color_accent #fc0
// --color_border #000
// --text_color_primary #000
// --text_color_secondary rgba(0, 0, 0, .6)
// --text_color_additional rgba(0, 0, 0, .3)
// --text_color_link #07f
// --color_default #000
// --color_border #fff
// --text_color_primary #fff
// --text_color_secondary rgba(255, 255, 255, .6)
// --text_color_additional rgba(255, 255, 255, .3)
// --text_color_link #0077ff
// --color_default #f33
// --color_border #f33
// --text_color_primary #fff
// --text_color_secondary rgba(255, 255, 255, .6)
// --text_color_additional rgba(255, 255, 255, .3)
// --text_color_link #fff
// --text_height_s 8px
// --text_height_m 10px
// --text_height_l 11px
// --text_height_xl 13px
// --text_height_xxl 16px
// --text_line_height_s 21px
// --text_line_height_m 25px
// --text_line_height_l 28px
// --text_line_height_xl 34px
// --text_line_height_xxl 38px
// --space_xxxs 3px
// --space_xxs 6px
// --space_xs 9px
// --space_s 15px
// --space_m 18px
// --space_l 24px
// --space_xl 27px
// --space_xxl 36px
// --space_xxxl 45px
// --space_xxxxl 51px
// --space_xxxxxl 72px
