.logo
	font-weight 500
	font-size 18px
	line-height 22px
	letter-spacing .25px
	color var(--color_text_primary)

	@media (min-width 1024px)
		font-size 24px
		line-height 28px

.logo_type_link
	color var(--color_text_secondary)
	text-decoration none

	&:hover, :focus
		color var(--color_text_primary)
