mixin logo(props)
	- props = typeof props != 'undefined' ? props : {}

	- var attrs = props.attrs || {}
	- var data = props.data || {}

	- var text = data.text || "School CI server"

	if attrs.href
		a.logo(
			class= attrs.href ? 'logo_type_link' : ""
		)&attributes(attrs)= text
	else
		span.logo= text
