.welcome-action
	text-align center
	max-width 200px

	&::before
		content ''
		display block
		margin 0 auto
		width 124px
		height 124px
		background-image url('/assets/images/welcome-action.svg')
		background-size contain
		background-repeat no-repeat
		margin-bottom 32px

.welcome-action__description
	font-size 13px
	line-height 16px
	text-align center
	color var(--color_text_primary)
	margin-bottom 24px

.welcome-action__action
	max-width 123px
	margin 0 auto
