mixin welcome-action()
	.welcome-action
		p.welcome-action__description Configure repository connection and synchronization settings
		.welcome-action__action
			+button({
				mods: {
					theme: 'primary'
				},
				attrs: {
					href: '/settings.html'
				},
				data: {
					text: 'Open settings'
				}
			})
