include ../logo/logo
include ../button/button
include ../page-trim/page-trim

mixin header(props)
	- props = typeof props != 'undefined' ? props : {}

	- var data = props.data || {}
	- var actions = data.actions || undefined

	header.header
		+page-trim
			.header__content
				+logo({
					attrs: {
						href: '/start-screen.html',
					}
				})

				if actions
					ul.header__actions
						each action in actions
							li.header__action-item
								.header__action
									+button({
										mods: {
											theme: 'navigation',
										},
										attrs: {
											href: action.url,
										},
										data: {
											icon: 'settings',
										}
									})= action.text
