include ../logo/logo
include ../button/button
include ../page-trim/page-trim

mixin header(data)
	- var actions = data.actions || undefined

	+b.HEADER.header&attributes(attributes)
		+page-trim
			+e({b: 'header'}).content
				+logo({
					link: '/start-screen.html',
				})

				if actions
					+e({b: 'header'}).UL.actions
						each action in actions
							+e({b: 'header'}).LI.action-item
								+e({b: 'header'}).action
									+button({
										mods: {
											theme: 'navigation',
										},
										attrs: {
											href: action.url,
										},
										data: {
											icon: 'settings',
										}
									})= action.text
