.header__content
	display flex
	padding-top 12px
	padding-bottom 12px
	align-items center

	@media (min-width 1024px)
		padding-top 10px
		padding-bottom 10px

.header__actions
	list-style-type none
	margin 0
	padding 0
	margin-left auto
