include ../logo/logo
include ../button/button
include ../page-trim/page-trim

mixin header(props)
	- props = typeof props != 'undefined' ? props : {}

	- var data = props.data || {}
	- var actions = data.actions || undefined
	- var logoText = data.logoText || undefined
	- var logoURL = data.logoURL || undefined

	header.header
		+page-trim
			.header__content
				.header__logo
					+logo({
						attrs: {
							href: logoURL
						},
						data: {
							text: logoText
						}
					})

				if actions
					ul.header__actions
						each action in actions
							li.header__action-item
								+button({
									mods: {
										theme: 'navigation'
									},
									attrs: {
										href: action.url
									},
									data: {
										icon: action.icon,
										text: action.text,
										hiddenText: action.hiddenText
									}
								})
