.build-details-layout
	display block

.build-details-layout__commit
	margin-top 8px
	margin-bottom 16px

	@media (min-width 1024px)
		margin-bottom 12px

.build-details-layout__log
	max-width 825px
	margin 0 auto
	margin-bottom 16px
