.build-details-layout
	display block

.build-details-layout__commit
	margin-top var(--space_xs)
	margin-bottom var(--space_l)

	@media (min-width 1024px)
		margin-bottom var(--space_m)

.build-details-layout__log
	max-width 825px
	margin 0 auto
	margin-bottom var(--space_l)
