mixin footer()
	- props = typeof props != 'undefined' ? props : {}

	- var items = getData('footer-menu');

	footer.footer
		+page-trim
			.footer__content
				ul.footer__menu
					each item in items
						li.footer__menu-item
							a.footer__menu-item-content(href="javascript:void(0)")= item
				p.footer__logo &copy; 2020 Yuri Mikhin
