.footer
	background-color var(--color_border_secondary)
	padding-top var(--space_m)
	padding-bottom var(--space_m)

	@media (min-width 1024px)
		padding-bottom var(--space_xs)
		padding-top var(--space_xs)

.footer__content
	display flex
	flex-direction column

	@media (min-width 1024px)
		flex-direction row

.footer__logo
	margin 0
	font-size 13px
	line-height 16px
	color var(--color_text_secondary)

	@media (min-width 1024px)
		margin-left auto

.footer__menu
	list-style-type none
	display flex
	padding 0
	margin 0
	margin-bottomvar(--space_xs)

	@media (min-width 1024px)
		margin-bottom 0

.footer__menu-item
	&:not(:last-child)
		margin-right var(--space_m)

.footer__menu-item-content
	font-size 13px
	line-height 16px
	color var(--color_text_secondary)
	display flex
	align-items center
	text-decoration none

	&:hover, &:focus
		color var(--color_warning)

	&:focus
		outline none
