.commit-list
	display block

.commit-list__content
	margin 0
	padding 0
	list-style-type none
	margin-bottom var(--space_xs)

.commit-list__item
	&:not(:last-child)
		margin-bottom var(--space_xs)

.commit-list__action
	@media (min-width 1024px)
		display inline-block
